@charset "UTF-8";
@import url(https://fonts.googlespis.com/css?famyly=Roboto:400,300,600,400italic);
* {
    padding: 0px;
    margin: 0px;
}
:root {
    --cor0: #22dcf141 ;
    --cor1: #1aa0ee;
    --cor2: #247BA0;
    --cor3: #006494;
    --cor4: #13293D;
    --cor5: black;
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: Arial, bold ;
}
body {
    margin: auto;
    
}
header {
    background-image: linear-gradient(to bottom, var(--cor0), var(--cor1));
    padding: 10px;
    text-align: center;
   
}
header > h1 {
    font-style: italic;
    font-size: 2.4em;
    color: white;
    font-family: var(--fonte-padrao);
    text-shadow: 2px 2px 2px black;
}
header > p {
    text-align: right;
    font-size: 1.5em;
    font-family: var(--fonte-padrao);
    color: white;
    text-shadow: 2px 2px 2px black;
}
nav { 
    text-align: left;
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor3));
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.445);
}
nav > a {
    margin-left: 20px;
    transition-duration: 0.2s;
    text-decoration: none;
    padding: 0.7px;
    font-family: var(--fonte-padrao);
    color:black;
    font-size: 1.3em;
}
nav > a:hover {
    background-color: rgba(66, 220, 247, 0.356) ;
    border-radius: 5px;
}
nav p {
    font-style: italic;
    text-align: right;
}
main {
    margin: auto;
    min-width: 280px;
    max-width: 980px;
    padding: 0 10px 120px 10px;
    box-shadow:  2px 2px 2px black(0, 0, 0, 0.534);
    margin-bottom: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
main h1 {
    padding: 10px;
    color: white;
    text-align: center;
    font-style: italic;
    font-size: 3.3em;
    font-family: var(--fonte-padrao);
    text-shadow: 2px 2px 2px black;
}
.form {
    margin: auto;
    max-width: 350px;
    margin-bottom: 90px;
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor2));
    border-radius:0 0 10px 10px;
  }
  
.form label,
.form input,
.form textarea,
.form button {
    display: block;
    width: 100%;
  }
  
  .form label {
    margin-left: 10px;
    font-size: 1.5em;
    color: white;
    margin-bottom: 5px;
    text-shadow: 2px 2px 2px black;
  }
  
  .form input  {
    margin-left: 10px;
    max-width: 84%;
    font: inherit;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 8px;
    transition: border-color, box-shadow 0.2s;
    margin-bottom: 40px;
  }
  
  .form textarea {
    margin-left: 10px;
    height: 70px;
    max-width: 90%;
    font: inherit;
    resize: vertical;
    border-radius: 8px;
    margin-bottom: 50px;
    margin-top: 1px;
    transition: border-color, box-shadow 0.2s;
    
  }
  
  .form input:hover,
  .form input:focus,
  .form textarea:hover,
  .form textarea:focus {
    outline: none;
    border-color:black;
    box-shadow: 0 0 0 3px #4dc8ff;
  }
  
  .form button {
    width: 50%;
    margin: auto;
    display: block;
    padding: 0.2em;
    background-color: var(--cor2);
    color: #fff;
    font: inherit;
    text-transform: uppercase;
    border: solid var(--cor5);
    border-radius: 8px 8px 0 0;
    cursor: pointer;
    transition: 0.3s;
    font-size: 1.5em;
    text-shadow: 2px 2px 2px black;
  }
  
  .form button:hover,
  .form button:focus {
    outline: none;
    background: var(--cor4);
  }
  footer {
    padding: 10px;
    font-size: 0.8em;
    text-align: center;
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor3));
    color:black;
    font-family: Arial, Helvetica, sans-serif;
  }
@media(max-width:600px){
    nav a {
        text-align: center;
        display: block;
        padding: 1px;
    }
}
.btn-whatsapp {
    position: fixed;
    bottom: 5px;
    right: 5px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    cursor: pointer;
    background: #34af23;
    color: #FFF;
    font-size: 1.5em;
    border: 1px solid #f1f1f1;
    animation: pulsar 0.8s ease-out 1s infinite alternate none running;
}
.voltar{
    margin: 0 0 0 30px;
    padding: 5px;
    text-decoration: none;
    width: 5em;
    border-radius: 10px;
    font-style: italic;
    font-family: var(--fonte-padrao);
    font-size: 1em;
}
.voltar:hover{
    outline: none;
    background: var(--cor3);
}
a {
    color: inherit;
}
@keyframes pulsar {
    0% {
        height: 40px;
        width: 40px;
    }
    100% {
        height: 50px;
        width: 50px;
    }
}
button a {
    color: white;
}
img {
    width: 50px;
}
