* {
  padding: 0;
  margin: 0;
  background-color: rgb(10, 53, 92);
}
h1 {
  padding: 10px;
  text-align: center;
  font-size: 2em;
  background-color: coral ;
  border-radius: 10px;
}
p {
  text-transform: capitalize;
  padding: 10px;
  font-size: 1.7em;
  }
img {
  padding: 10px;
  background-color: brown;
  width: 100%;
  width: 800px;
  height: auto;
}