@charset "UTF-8";
* {
    padding: 0px;
    margin: 0px;
}
:root {
    --cor0: #c3f0f5;
    --cor1: #1aa0ee;
    --cor2: #247BA0;
    --cor3: #006494;
    --cor4: #13293D;
    --cor5: black;
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: Arial, bold ;
}
body {
    margin: auto;
    background-color: var(--cor0);
}
header {
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor3));
    padding: 10px;
    text-align: center;
   
}
header > h1 {
    font-style: italic;
    font-size: 2.4em;
    color: white;
    font-family: var(--fonte-padrao);
    text-shadow: 2px 2px 2px black;
}
header > p {
    text-align: right;
    font-size: 1.5em;
    font-family: var(--fonte-padrao);
    color: white;
    text-shadow: 2px 2px 2px black;
}
nav { 
    padding: 5px;
    text-align: left;
    background-color:var(--cor3);
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.445);
}
nav > a {
    margin-left: 20px;
    transition-duration: 0.2s;
    text-decoration: none;
    padding: 10px;
    font-family: var(--fonte-padrao);
    color: white;
}
nav > a:hover {
    background-color: var(--cor1);
    border-radius: 15px;
}
nav p {
    font-style: italic;
    text-align: right;
}
main {
    margin: auto;
    min-width: 280px;
    max-width: 980px;
    padding: 10px;
    background-color: var(--cor0);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.534);
    margin-bottom: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
main h1 {
    text-align: center;
    font-style: italic;
    font-size: 3.5em;
    color: white;
    font-family: var(--fonte-padrao);
    text-shadow: 2px 2px 2px black;
}
.titulo {
    margin: auto;
    padding: 15px 0px 0px 5px;
    font-size: 1.5em;
}
.titulo1 {
    padding: 15px 0px 0px 5px;
    font-size: 1.5em;
}
.titulo2 {
    padding: 15px 0px 0px 5px;
    font-size: 1.5em;
}
div.button {
    padding: 50px;
}
.input1 {
    width: 300px;
    height: 20px;
    padding: 5px;
}
.input2 {
    width: 300px;
    height: 20px;
    padding: 5px;
}
.input3 {
    width: 600px;
    height: 100px;
    padding: 5px;
}
footer {
    padding: 2px;
    font-size: 0.8em;
    text-align: center;
    background-color: var(--cor3);
    color:black;
    font-family: Arial, Helvetica, sans-serif;
}
@media(max-width:600px){
    nav a {
        text-align: center;
        display: block;
    }
}
.btn-whatsapp {
    position: fixed;
    
    bottom: 5px;
    right: 5px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    cursor: pointer;
    background: #34af23;
    color: #FFF;
    font-size: 1.5em;
    border: 1px solid #f1f1f1;
    animation: pulsar 0.8s ease-out 1s infinite alternate none running;
}
a {
    color: inherit;
}
@keyframes pulsar {
    0% {
        height: 40px;
        width: 40px;
    }
    100% {
        height: 50px;
        width: 50px;
    }
}
