@charset "UTF-8";
* {
    padding: 0px;
    margin: 0px;
}
:root {
    --cor0: #CACACA;
    --cor1: #878787;
    --cor2: #00BBC9;
    --cor3: #006494;
    --cor4: #00747C;
    --cor5: #202022;
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: Arial, bold ;
}
body, html {
    height: 100%;
    background-color: var(--cor1);
}
body {
    display: flex;
    flex-direction: column;
}
header {
    background-image: linear-gradient(to bottom, var(--cor5), var(--cor1));
    padding: 10px;
    text-align: center;
   
}
header > h1 {
    font-style: italic;
    font-size: 2.4em;
    color: white;
    font-family: var(--fonte-padrao);
    text-shadow: 2px 2px 2px black;
}
header > p {
    text-align: right;
    font-size: 1.5em;
    font-family: var(--fonte-padrao);
    color: white;
    text-shadow: 2px 2px 2px black;
}
.conteudo {
    margin-top: 100px;
    text-align: center;
    font-style: italic;
    font-size: 2.4em;
    color: white;
    font-family: var(--fonte-padrao);
    text-shadow: 2px 2px 2px black;
    flex: 1 0 auto;
}
.conteudo h2 {
    text-align: center;
    font-style: italic;
    font-size: 1em;
    color: white;
    font-family: var(--fonte-padrao);
    text-shadow: 2px 2px 2px black;
    flex: 1 0 auto;
}
.voltar{
    margin: 0 0 0 10px;
    padding: 5px;
    text-decoration: none;
    width: 100px;
    border-radius: 10px;
    background-color: var(--cor1);
    font-style: italic;
    font-family: var(--fonte-padrao);
    font-size: 1em;
    
}
footer {
    flex-shrink: 0;
    padding: 10px;
    font-size: 0.8em;
    text-align: center;
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor5));
    color:black;
    font-family: Arial, Helvetica, sans-serif;
}
button a {
    color: white;
}