@charset "UTF-8";
* {
    padding: 0px;
    margin: 0px;
}
:root {
    --cor0: #22dcf141 ;
    --cor1: #1aa0ee;
    --cor2: #247BA0;
    --cor3: #006494;
    --cor4: #13293D;
    --cor5: black;
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: Arial, bold ;
}
body, html {
    height: 100%;
    
}
body {
    display: flex;
    flex-direction: column;
}
header {
    background-image: linear-gradient(to bottom, var(--cor0), var(--cor1));
    padding: 10px;
    text-align: center;
   
}
header > h1 {
    font-style: italic;
    font-size: 2.4em;
    color: white;
    font-family: var(--fonte-padrao);
    text-shadow: 2px 2px 2px black;
}
header > p {
    text-align: right;
    font-size: 1.5em;
    font-family: var(--fonte-padrao);
    color: white;
    text-shadow: 2px 2px 2px black;
}
nav { 
    text-align: left;
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor3));
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.445);
}
nav > a {
    margin-left: 20px;
    transition-duration: 0.2s;
    text-decoration: none;
    padding: 0.7px;
    font-family: var(--fonte-padrao);
    color:black;
    font-size: 1.3em;
}
nav > a:hover {
    background-color: rgba(66, 220, 247, 0.356);
    border-radius: 5px;
}
nav p {
    font-style: italic;
    text-align: right;
    margin-right: 10px;
}
@media(max-width:600px){
    nav a {
        text-align: left;
        display: block;
    }
}
.conteudo {
    width: 95%;
    margin: auto;
    background-color: var(--cor0);
    border-radius: 0 0 10px 10px;
    flex: 1 0 auto;
   

}
.conteudo h1{
    display: flex;
    margin-top: 50px;
    padding: 10px;
    font-size: 2em;
    text-align: center;
    justify-content: center;
}
.conteudo p{
    color: black;
    text-align: justify;
    font-family: var(--fonte-padrao);
    text-indent: 20px;
    line-height: 1.4em;
    margin-top: 10px;
    width: 85%;
    padding: 10px;
    justify-content: center;
    margin: auto;
}
.voltar{
    margin: 0 0 0 30px;
    padding: 5px;
    text-decoration: none;
    width: 5em;
    border-radius: 10px;
    font-style: italic;
    font-family: var(--fonte-padrao);
    font-size: 1em;
}
.voltar:hover{
    outline: none;
    background: var(--cor3);
}
.btn-whatsapp {
    position: fixed;
    
    bottom: 5px;
    right: 5px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    cursor: pointer;
    background: #34af23;
    color: #FFF;
    font-size: 1.5em;
    border: 1px solid #f1f1f1;
    animation: pulsar 0.8s ease-out 1s infinite alternate none running;
}
a {
    color: inherit;
}
@keyframes pulsar {
    0% {
        height: 40px;
        width: 40px;
    }
    100% {
        height: 50px;
        width: 50px;
    }
}
footer {
        flex-shrink: 0;
        padding: 10px;
        font-size: 0.8em;
        text-align: center;
        background-image: linear-gradient(to bottom, var(--cor1), var(--cor3));
        color:black;
        font-family: Arial, Helvetica, sans-serif;
    }
   